/* /* @keyframes bouncing-loader {
    to {
      opacity: 0.1;
      transform: translate3d(0, -1rem, 0);
    }
  }
  
  .bouncing-loader {
    display: flex;
    justify-content: center;
  }
  
  .bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #8385aa;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
  }
  
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  } */


/*staggerd anim*/


/* .container {
    overflow-x: hidden;
    width: 100%;
}

.menu-toggler {
    display: none;
}

.menu-toggler-label {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.stagger-menu {
    list-style-type: none;
    margin: 16px 0;
    padding: 0;
}

.stagger-menu li {
    margin-bottom: 8px;
    font-size: 17px;
    opacity: 0;
    transform: translateX(100%);
    transition-property: opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.750, -0.015, 0.565, 1.055);
}


 .menu-toggler:checked~.stagger-menu li {
    opacity: 1;
    transform: translateX(0);
    transition-delay: calc(0.556s * var(--i));
}   */


/*button border*/


/* .button {
    background-color: red;
    border: none;
    color: black;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
}

.button:before,
.button:after {
    border: 0 solid transparent;
    transition: all 0.25s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}

.button:before {
    border-top: 2px solid orange;
    left: 0px;
    top: -5px;
}

.button:after {
    border-bottom: 2px solid green;
    bottom: -5px;
    right: 0px;
}

.button:hover {
    background-color: white;
}

.button:hover:before,
.button:hover:after {
    height: 100%;
    width: 100%;
} */


/*hover shadow box*/


/* .hover-shadow-box-animation {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0px);
    box-shadow: 0 0 1px transparent;
    margin: 10px;
    transition-duration: 0.5s;
    transition-property: box-shadow, transform;
}

.hover-shadow-box-animation:hover,
.hover-shadow-box-animation:focus,
.hover-shadow-box-animation:active {
    box-shadow: 10px 10px 10px -5px red;
    transform: scale(1.2);
} */


/*Nav List*/


/* nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    position: relative;
    display: block;
    color: #222;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
}

li a::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #f6c126;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

li a:hover::before,
li a:focus::before {
    transform: scale(1);
} */


/*Hamburger*/


/* .hamburger-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
}

.hamburger-menu .bar {
    height: 5px;
    background: black;
    border-radius: 4px;
    margin: 3px 0;
    transform-origin: left;
    transition: all 0.5s;
}

.hamburger-menu:hover .top {
    transform: rotate(45deg);
}

.hamburger-menu:hover .middle {
    opacity: 0;
}

.hamburger-menu:hover .bottom {
    transform: rotate(-45deg);
} */


/*Pop Menu*/


/* .reference {
    position: relative;
    background: red;
    width: 100px;
    height: 100px;
}

.popout-menu {
    position: absolute;
    visibility: hidden;
    left: 100%;
    background: #333;
    color: wheat;
    padding: 15px;
}

.reference:hover>.popout-menu,
.reference:focus>.popout-menu,
.reference:focus-within>.popout-menu {
    visibility: visible;
} */


/*Donut spinner*/


/* @keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.donut {
    display: inline-block;
    border: 4px solid black;
    border-left-color: #7983ff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: donut-spin 1.2s linear infinite;
} */


/*hover underline anim*/


/* .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: green;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: green;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */


/*Masonry Layout*/


/* .masonry-container {
    --column-count-small: 1;
    --column-count-medium: 2;
    --column-count-large: 3;
    --column-gap: 0.125rem;
    padding: var(--column-gap);
}

.masonry-columns {
    column-gap: var(--column-gap);
    column-count: var(--column-count-small);
    column-width: calc(1 / var(--column-count-small) * 100%);
}

@media only screen and (min-width: 640px) {
    .masonry-columns {
        column-count: var(--column-count-medium);
        column-width: calc(1 / var(--column-count-medium) * 100%);
    }
}

@media only screen and (min-width: 800px) {
    .masonry-columns {
        column-count: var(--column-count-large);
        column-width: calc(1 / var(--column-count-large) * 100%);
    }
}

.masonry-brick {
    width: 100%;
    height: auto;
    margin: var(--column-gap) 0;
    display: block;
}

.masonry-brick:first-child {
    margin: 0 0 var(--column-gap);
} */


/*Height transition*/


/* .el {
    transition: max-height 0.5s;
    overflow: hidden;
    max-height: 0;
}

.trigger:hover>.el {
    max-height: var(--max-height);
} */


/*Dynamic-shadow*/


/* .dynamic-shadow {
    position: relative;
    width: 10rem;
    height: 10rem;
    background: #52c234;
    
    background: -webkit-linear-gradient(to right, #061700, #52c234);
    
    background: linear-gradient(to right, #061700, #52c234);
    
    z-index: 1;
}

.dynamic-shadow::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    top: 0.5rem;
    filter: blur(0.4rem);
    opacity: 0.7;
    z-index: -1;
} */


/*Sibling fade Nav*/


/* span {
    padding: 0 1rem;
    transition: opacity 0.2s;
    color: black;
}

.sibling-fade:hover span:not(:hover) {
    opacity: 0.5;
    color: red;
} */


/*Pulse loader*/


/* .ripple-loader {
    position: relative;
    width: 30px;
    height: 30px;
}

.ripple-loader div {
    position: absolute;
    border: 3px solid purple;
    border-radius: 50%;
    animation: ripple-loader 0.7s ease-out infinite;
}

.ripple-loader div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes ripple-loader {
    0% {
        top: 30px;
        left: 30px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 60px;
        width: 60px;
        opacity: 0;
    }
} */


/*Toggle switch*/


/* .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    transition: all 0.3s;
}

.switch::after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: white;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}

input[type='checkbox']:checked+.switch::after {
    transform: translateX(20px);
}

input[type='checkbox']:checked+.switch {
    background-color: #7983ff;
}

.offscreen {
    position: absolute;
    left: -9999px;
} */


/*Disable selection*/

.unselectable {
    user-select: none;
}