/* /* @keyframes bouncing-loader {
    to {
      opacity: 0.1;
      transform: translate3d(0, -1rem, 0);
    }
  }
  
  .bouncing-loader {
    display: flex;
    justify-content: center;
  }
  
  .bouncing-loader > div {
    width: 1rem;
    height: 1rem;
    margin: 3rem 0.2rem;
    background: #8385aa;
    border-radius: 50%;
    animation: bouncing-loader 0.6s infinite alternate;
  }
  
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  } */


/*staggerd anim*/


/* .container {
    overflow-x: hidden;
    width: 100%;
}

.menu-toggler {
    display: none;
}

.menu-toggler-label {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.stagger-menu {
    list-style-type: none;
    margin: 16px 0;
    padding: 0;
}

.stagger-menu li {
    margin-bottom: 8px;
    font-size: 17px;
    opacity: 0;
    transform: translateX(100%);
    transition-property: opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.750, -0.015, 0.565, 1.055);
}


 .menu-toggler:checked~.stagger-menu li {
    opacity: 1;
    transform: translateX(0);
    transition-delay: calc(0.556s * var(--i));
}   */


/*button border*/


/* .button {
    background-color: red;
    border: none;
    color: black;
    outline: none;
    padding: 12px 40px 10px;
    position: relative;
}

.button:before,
.button:after {
    border: 0 solid transparent;
    transition: all 0.25s;
    content: '';
    height: 24px;
    position: absolute;
    width: 24px;
}

.button:before {
    border-top: 2px solid orange;
    left: 0px;
    top: -5px;
}

.button:after {
    border-bottom: 2px solid green;
    bottom: -5px;
    right: 0px;
}

.button:hover {
    background-color: white;
}

.button:hover:before,
.button:hover:after {
    height: 100%;
    width: 100%;
} */


/*hover shadow box*/

.hover-shadow-box-animation {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0px);
    box-shadow: 0 0 1px transparent;
    margin: 10px;
    transition-duration: 0.5s;
    transition-property: box-shadow, transform;
}

.hover-shadow-box-animation:hover,
.hover-shadow-box-animation:focus,
.hover-shadow-box-animation:active {
    box-shadow: 10px 10px 10px -5px red;
    transform: scale(1.2);
}